/* Generic Styles */
body {
  margin: 0;
  background-color: #f1f1f1;
  text-align: center;
  color:#888888;
  font-family: Helvetica;
}

.basicBox {
  width: 100px;
  padding: 5px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.basicBoxShort {
  width: 70px;
  padding: 5px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.basicBoxLong {
  width: 500px;
  padding: 5px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#ruleHeaders, #protocolSpecificOptions, #genericOptions, #contentSection, #regexSection, #postDetectionSection
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  border: 1px solid #888888;
  margin-bottom: 20px;
}

#protocolSpecificOptions {
  border: none;
  margin-bottom: 0px;
}

/* Specific Styles */
#direction {
  width: 50px;
}

#outputBox {
  margin-top: 20px;
}
#outputText {
  width: 80%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#http_method {
  width: 150px;
}

#http_stat_code {
  width: 280px;
}

#flowState, #flowDirection, #flowDirectionUDP {
  width: 150px;
}

#copiedMsg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  z-index: 999;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 5x 20px rgba(0, 0, 0, 0.25);
}